﻿    @{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<p></p>
<p></p>


<address>
    <h3 style="margin-bottom:-15px">Hotel "Koci Raj"</h3><br />
    ul. Koci Szlak 7<br />
    91-001 Łódź<br />
    Numer konta 20 1111 2222 3333 0000 4444 6666<br />
    Bank Polski Kocia Łapka
</address>


<div class="div_wiersz_kontakt">
    <div class="div_kolumna1_kontakt">
        <address>
        Zapraszamy do kontaktu telefonicznego w godzinach 8.00 - 22.00.<br />
        <abbr title="Telefon">tel.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 123-456-789<br />
        <abbr title="Telefon">tel.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 987-654-321<br />
        <abbr title="Fax">fax.:</abbr> <img src="../Content/fon.png" alt="Telefon Hotel Kocu Raj"> 42 12-12-123<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> <a href="mailto:biuro@koci-raj.pl">biuro@koci-raj.pl</a>
        </address>
    </div>
    <div class="div_kolumna2_kontakt">
        <address>
        Bezpośredni kontakt z opiekunami: <br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> katarzyna.g@koci-raj.pl<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> artur.t@koci-raj.pl<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> dawid.d@koci-raj.pl<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> mateusz.c@koci-raj.pl<br />
        <img src="../Content/email.png" alt="e-mail Hotel Kocu Raj" style="width:18px;height:18px"> mikolaj.ch@koci-raj.pl
        </address>
    </div>
</div>

<div>
    <h4 style="margin:10px 0 5px 0">Formularz kontaktowy</h4>

    <form class="form">
        <div class="row">
            <div class="col-1-2">
                <label for="ImieReg2">Imię (min. 3 znaki nie będące cyframi):</label>
                <input id="ImieReg2" value="" type="text">
            </div>
            <div class="col-1-2">
                <label for="NazReg2">Nazwisko (min. 3 znaki nie będące cyframi):</label>
                <input id="NazReg2" value="" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-1-2">
                <label for="telefon">Telefon kontaktowy: (same cyfry):</label>
                <input id="telefon" value="" type="text">
            </div>
            <div class="col-1-2">
                <label for="email">Adres E-mail:</label>
                <input type="email" name="email" id="email" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-1-1">
                <label for="tresc">Treść wiadomości:</label>
                <textarea id="tresc" value="" type="text" class="tresc"> </textarea>
            </div>
        </div>

        <div><button type="Submit" style="width:100%;height:35px;background-color:#526788;border:none;color:white">Wyślij</button></div>
    </form>
</div>

@section scripts {
    @Scripts.Render("http://maps.google.com/maps/api/js?sensor=true")
    @Scripts.Render("http://maps.google.com/maps/api/js?key=AIzaSyDD5Sc2-4SpogTRe3qogzpsTQiRtUf0cGM")
    @Scripts.Render("~/Scripts/gmaps.js")
    @Scripts.Render("~/Scripts/gmaps-marker.js")
}
<h4 style="padding:20px 0 10px 0">Znajdź nas:</h4>
<div id="map"></div>
