﻿@{
    ViewBag.Title = "Oferta";
}
<h2>@ViewBag.Title.</h2>
<p></p>
<p></p>
<p><span style="font-size: 12pt;"><strong>Kilka słów wstępu.</strong></span></p>
<p><span style="font-size: 12pt;">Jeżeli wyjeżdżasz, nawet na parę dni i nie masz z kim zostawić swoje kochanego zwierzaka – skorzystaj usług hotelu „Koci Raj”. Pomimo rozłąki Twój kociak otrzyma wspaniałe wakacje w komfortowych warunkach. Pobyt w naszym hotelu to brak stresu dla Ciebie oraz co najważniejsze dla Twojego kota. Pod Twoją nieobecność sprawimy aby Twój pupil zawsze miał stałą fachową opiekę oraz zapewnione ciekawe zajęcia. Każdy kot przebywa w naszym hotelu w indywidualnych apartamentach, a pobyt Twojego pupila śmiało możemy porównać do pobytu w 5 gwiazdkowym hotelu.</span></p>
<p><span style="font-size: 12pt;">Każdy apartament posiada klimatyzację pozwalającą utrzymać stałą temperaturę pomieszczenia. Twój kot otrzyma wygodną leżankę, kojec, kocyki oraz miseczki na pożywienie. Liczne drapaki naścienne jak i wolno stojące pozwolą zadbać o właściwi stan pazurków. Każdy z elementów wyposażenia jest specjalnie przygotowywany i każdorazowo dezynfekowany środkami odkażającymi, dodatkowo dezynfekujemy powierzchnie i powietrze lampą UV (stosowaną w klinikach weterynaryjnych i szpitalach).</span></p>
<p><span style="font-size: 12pt;">Kot będzie karmiony wedle Twoich indywidualnych wskazówek. Możesz także zostawić mu jego ulubiony koc, zabawkę, a także przysmaki i karmę, dzięki czemu będzie się czuł jak u siebie w domu.&nbsp;</span></p>
<p><span style="font-size: 12pt;">W okresie wiosenno - letnim kociak może bawić się na świeżym powietrzu w specjalnie przygotowanych wolierach, gdzie może skakać po drzewach czy wylegiwać się na trawie.</span></p>
<p><span style="font-size: 12pt;"><strong>Szczegółowa oferta.<br></strong></span></p>
<p><span style="font-size: 12pt;">Do dyspozycji Twojego kota oddajemy:</span></p>
<ul>
    <li><span style="font-size: 12pt;"><strong>10 luksusowych pokoi o powierzchni 15 m<sup>2</sup> (standard *****), pokój posiada wyjście na wolierę o powierzchni 15 m<sup>2</sup><br></strong>pokój jest klimatyzowany, na wyposażeniu są 4 drapaki, 3 legowiska, 4 miski z jedzeniem i piciem - które są 3 razy dziennie myte, 2 kuwety ze żwirkiem w zależności od indywidualnych potrzeb (żwirek zbrylający się, -niezbrylający, -roślinny, -silikonowy ), liczne kocie zabawki, 32 calowy płaski telewizor na którym wyświetlane są ulubione przez zwierzaka filmy lub programy. Pokoje posiadają całodobowo włączone kamery, dzięki czemu istnieje możliwość obejrzenia kotka o dowolnej porze (w porze nocnej kamery przełączane są w specjalny tryb nocny).</span><br><span style="font-size: 12pt;"> <strong>Cena – 120 zł/noc.</strong></span><br><span style="font-size: 12pt;">Jest to to CENA ZA CAŁY POKÓJ Z PEŁNYM WYŻYWIENIEM – z możliwością umieszczenia w pokoju do 3 kotów, w przypadku większej liczby kotów cena jest ustalana indywidualnie. </span><br><span style="font-size: 12pt;">Cena obejmuje zdjęcia z pobytu pupila w hotelu, zdjęcia możemy wysyłać Państwu na wskazany adres e-mail co 2 dni.<br><br></span></li>
    <li><span style="font-size: 12pt;"><strong>10 pomieszczeń o powierzchni 10 m<sup>2</sup> (standard ***), pokój posiada wyjście na wolierę o powierzchni 15 m<sup>2</sup><br> </strong>pokój jest klimatyzowany, na wyposażeniu są 4 drapaki, 3 legowiska, 4 miski z jedzeniem i piciem - które są 3 razy dziennie myte, 2 kuwety ze żwirkiem w zależności od indywidualnych potrzeb (żwirek zbrylający się, -niezbrylający, -roślinny, -silikonowy ), liczne kocie zabawki.</span><br><span style="font-size: 12pt;"> <strong>Cena – 50 zł/noc za 1 kota lub 70 zł/noc za 2 koty</strong></span><br><span style="font-size: 12pt;">Cena obejmuje zdjęcia z pobytu pupila w hotelu, które możemy wysyłać Państwu na wskazany adres e-mail co 4 dni.</span><br><br></li>
    <li><span style="font-size: 12pt;"><strong>7 pomieszczeń o powierzchni 10 m<sup>2</sup> (standard **)</strong></span><br><span style="font-size: 12pt;">na wyposażeniu są 2 drapaki, 3 legowiska, 4 miski z jedzeniem i piciem - które są 3 razy dziennie myte, 2 kuwety ze żwirkiem w zależności od indywidualnych potrzeb (żwirek zbrylający się, -niezbrylający, -roślinny, -silikonowy ), liczne kocie zabawki. Koty wyprowadzane są 2 razy dziennie na zamknięty wybieg.</span><br><span style="font-size: 12pt;"> <strong>Cena – 30 zł/noc za jednego kota.</strong> </span><br><span style="font-size: 12pt;">Cena obejmuje zdjęcia z pobytu pupila w hotelu, które możemy wysyłać Państwu na wskazany adres e-mail co 7 dni.</span></li>
</ul>
<p><span style="font-size: 12pt;"><br>Koty umieszczane są w indywidualnym pomieszczeniu, oznacza to, że nie mają bezpośredniego kontaktu z innymi pensjonariuszami naszego hotelu. </span><span style="font-size: 12pt;">Zapewniamy stałą/całodobową opiekę weterynaryjną a cały teren hotelu jest pod stałym nadzorem agencji ochrony.</span></p>
<p><span style="font-size: 12pt;"><strong>Wyżywienie</strong></span></p>
<p><span style="font-size: 12pt;"> Stosujemy najwyższej jakości karmę dla zwierząt – suchą marki; ROYAL CANIN różne rodzaje w tym lecznicze, SANABELLE&nbsp; BOSCH Urinary, JOSERA CULINESSE Adlut oraz mokre firmy APPLAWS, SCHESIR czy ANIMONDA. Na życzenie Klientów zabezpieczamy również inne marki i pożywienie specjalistyczne.</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 12pt;"><strong>Dla naszych Klientów możliwy jest odbiór zwierząt i dowóz do hotelu "Koci Raj" a następnie z powrotem do domu.<br>Transport na terenie miasta Łodzi jest bezpłatny. <br></strong> Transport poza Łodzią wynosi 5 zł za każdy kilometr przejechany ze zwierzakiem jako pasażerem i liczony jest od granic Łodzi.</span></p>
<p><span style="font-size: 12pt;">SERDECZNIE ZAPRASZAMY!</span></p>