﻿@{
    ViewBag.Title = "Rezerwacja";
}
<h2>@ViewBag.Title.</h2>
<p></p>
<p></p>
<p></p>

<h3>Termin rezerwacji</h3>
<form class="form">
    <div class="row">
        <div class="col-1-2">
            <label for="Data1">Planowana data przyjazdu*:</label>
            <input id="Data1" value="" type="text">
        </div>
        <div class="col-1-2">
            <label for="Data2">Planowana data odbioru*:</label>
            <input id="Data2" value="" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-1-2">
            <label for="Godzina1">Orientacyjna godzina przyjazdu*:</label>
            <input id="Godzina1" value="" type="text">
        </div>
        <div class="col-1-2">
            <label for="Godzina2">Orientacyjna godzina odbioru*:</label>
            <input id="Godzina2" value="" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-1-3">
            <label for="LiczbaKoty">Liczba kotów*:</label>
            <select name="LiczbaKoty1" id="LiczbaKoty1">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="LiczbaKoty2" id="LiczbaKoty2">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="LiczbaKoty2" id="LiczbaKoty2">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="col-1-3">
            <label for="TypBoksow">Liczba boksów*:</label>
            <select name="TypBoksow1" id="TypBoksow1">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="TypBoksow1" id="TypBoksow1">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select name="TypBoksow1" id="TypBoksow1">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
        <div class="col-1-3">
            <div>
                <label for="LiczbaBoksow">Standard boksu*:</label>
                <div class="row">
                    <div class="col-1-1">
                        <input value="box1" name="color" type="checkbox" style="margin:0 0 15px 0"> boks o pow. 15 m<sup>2</sup> (*****), woliera 15 m<sup>2</sup><br>
                        <input value="box1" name="color" type="checkbox" style="margin:10px 0 15px 0"> boks o pow. 10 m<sup>2</sup> (***), woliera 15 m<sup>2</sup><br>
                        <input value="box1" name="color" type="checkbox" style="margin:10px 0 0 0"> boks o pow. 10 m<sup>2</sup> (**)<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<h3>Dane właściciela</h3>
<form class="form">
    <div class="row">
        <div class="col-1-2">
            <label for="ImieReg2">Imię (min. 3 znaki nie będące cyframi)*:</label>
            <input id="ImieReg2" value="" type="text">
        </div>
        <div class="col-1-2">
            <label for="NazReg2">Nazwisko (min. 3 znaki nie będące cyframi)*:</label>
            <input id="NazReg2" value="" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-1-2">
            <label for="telefon">Telefon kontaktowy: (same cyfry)*:</label>
            <input id="telefon" value="" type="text">
        </div>
        <div class="col-1-2">
            <label for="email">Adres E-mail:</label>
            <input type="email" name="email" id="email" value="">
        </div>
    </div>
    <div class="row">
        <div class="col-1-1">
            <label for="platnosc">Sposób płatności*:</label>
            <input value="p1" name="gender" type="radio"> Gotówka<br />
            <legenda>Możliwość zapłaty gotówką w recepcji hotelu.</legenda><br />
            <input value="p2" name="gender" type="radio" disabled="disabled" style="margin-top:10px"> Karta płatnicza<br />
            <legenda>Składając rezerwację zostaniesz przekierowany na stronę naszego pośrednika w płatnościach elektronicznych. <strong>System płatności kartą płatniczą w trakcie wdrożenia.</strong></legenda><br />
            <input value="p3" name="gender" type="radio" style="margin-top:10px"> Przelew tradycyjny<br />
            <legenda>Po złożeniu Zamówienia otrzymasz od nas e-mail z numerem rachunku, na który wpłacasz pieniądze. Ponieważ dla każdego klienta generowany jest unikatowy numer konta, pamiętaj, aby wpłacić środki na numer rachunku wskazany w wiadomości. <strong>Przy tej formie płatności pole "Adres E-mail" jest wymagane.</strong></legenda>
</div>
    </div>
</form>
<h3>Dane kota/kotów</h3>
<form class="form">
    <div class="row">
        <div class="col-1-2">
            <label for="KotImie">Imię/imiona (imiona podajemy oddzielone przecinkiem):</label>
            <input id="KotImie" value="" type="text">
        </div>
        <div class="col-1-2">
            <label for="KotRasa">Rasa (rasy podajemy oddzielone przecinkiem):</label>
            <input id="KotRasa" value="" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-1-3" style="padding-left:30px">
            <label for="Plec">Płeć*:</label>
            <input value="k" name="gender" type="radio"> Samiczka / samiczki<br />
            <input value="m" name="gender" type="radio"> Samiec / samce<br />
            <input value="r" name="gender" type="radio"> Koty różnej płci<br />
        </div>
        <div class="col-1-3">
            <label for="sterylizacja">Czy kot / koty są po zabiegu kastracji / sterylizacji?*:</label>
            <input value="t" name="gender" type="radio"> Tak<br />
            <input value="n" name="gender" type="radio"> Nie<br />
            <input value="tn" name="gender" type="radio"> Różnie<br />
        </div>
        <div class="col-1-3">
            <label for="jedzenie">Czy kot / koty mają być żywione karmami pensjonatu?*:</label>
            <input value="jt" name="gender" type="radio"> Tak<br />
            <input value="jn" name="gender" type="radio"> Nie, właściciel dostarczy karmę we własnym zakresie<br />
        </div>
    </div>
    <div class="row">
        <div class="col-1-1">
            <label for="tresc">Dodatkowe uwagi:</label>
            <textarea id="tresc" value="" type="text"> </textarea>
        </div>
    </div>
</form>
<form class="form">
    <div class="row">
        <div class="col-1-1">
            <input value="box1" name="color" type="checkbox" style="margin:0 0 15px 0"> *Regulamin<br />Zaświadczam, iż zapoznałem się z <span style="text-decoration:underline;color:blue">regulaminem</span> i akceptuję jego warunki.<br>
            <input value="box1" name="color" type="checkbox" style="margin:10px 0 15px 0"> *Przetwarzanie danych<br />Wyrażam zgodę na przetwarzanie moich danych osobowych w celu realizacji rezerwacji. Informujemy, że zgodnie z Ustawą z dnia 29.08.1997 r każdy Klient ma prawo do wglądu do swoich danych, ich poprawiania, żądania zaprzestania przetwarzania oraz ich usunięcia. Podanie danych jest dobrowolne, ale brak zgody uniemożliwia realizacje rezerwacji metodą on-line.<br>
        </div>
    </div>
</form>

    <form class="form">
        <div class="row">
            <div class="col-1-2">
                <button type="Submit" style="width:100%;height:35px;background-color:#428bca;border:none;color:white">Zaloguj się aby zakończyć rezerwację</button>
            </div>
            <div class="col-1-2">
                <button type="button" style="width:100%;height:35px;background-color:#39b3d7;border:none;color:white">Rezerwacja bez konta</button>
            </div>
        </div>
    </form>
